body > .container > .row { margin-top: 70px; }

.nav-tabs {
    margin-bottom: 20px;
}

.pagination {
    margin: 0;
}

textarea.form-control { height: 150px; } 

.note-editor .note-editable { overflow: hidden; height: 150px; }

.table tr {
    td,th {
        &:last-child { text-align: right; }
    }
    
    &.filters {
        td {
            padding: 5px;
            margin: 0;
            background-color: #f5f5f5;
        }
        
        .input-group { display: block; }
        
        .input-xs {
            border: none;
            background-color: transparent;
            display: block;
            width: 100%;
        }
    }
}