@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\000031}}
body > .container > .row {
  margin-top: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\000033}}
.nav-tabs {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\000037}}
.pagination {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000311}}
textarea.form-control {
  height: 150px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000313}}
.note-editor .note-editable {
  overflow: hidden;
  height: 150px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000317}}
.table tr td:last-child, .table tr th:last-child {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000321}}
.table tr.filters td {
  padding: 5px;
  margin: 0;
  background-color: #f5f5f5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000327}}
.table tr.filters .input-group {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000329}}
.table tr.filters .input-xs {
  border: none;
  background-color: transparent;
  display: block;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000338}}
html {
  position: relative;
  min-height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000343}}
body {
  margin-bottom: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/simo\/Development\/web\.dev\/www\/pangea\/workbench\/psimone\/platform-core\/public\/src\/css\/scss\/application\.scss}line{font-family:\0000347}}
.media-preview {
  background: #FFF;
  height: auto;
  width: 80%;
  text-align: center; }
